.toggle-button {
  width: 35px;
  height: 20px;
  display: inline-block;
  margin: 2px;
  background-color: #e74c3c;
  border-radius: 99px;
  border: 2px solid #bf2718; }
.toggle-button .toggle-circle {
  width: 20px;
  height: 20px;
  float: left;
  background-color: #ffd6d1;
  border-radius: 99px; }
.toggle-button .border {
  height: 16px;
  width: 16px;
  border: 2px solid #ff9285; }

.toggle-button:hover .toggle-circle {
  background-color: #ffedeb; }

.toggled {
  background-color: #bf2718; }
.toggled .toggle-circle {
  float: right; }

.no-bg-toggle {
  background-color: #e74c3c; }

.no-border {
  border: 0 none; }

.no-hover:hover .toggle-circle {
  background-color: #ffd6d1; }

.bg-hover:hover {
  background-color: #ea6153; }

.expand-hover:hover .toggle-circle {
  width: 24px;
  height: 20px; }

.tiny {
  width: 24.5px;
  height: 14px; }
.tiny .toggle-circle {
  width: 14px;
  height: 14px; }

.small {
  width: 29.75px;
  height: 17px; }
.small .toggle-circle {
  width: 17px;
  height: 17px; }

.large {
  width: 42px;
  height: 24px; }
.large .toggle-circle {
  width: 24px;
  height: 24px; }

.tall {
  width: 35px;
  height: 24px; }
.tall .toggle-circle {
  width: 24px;
  height: 24px; }

.long {
  width: 42px;
  height: 20px; }
.long .toggle-circle {
  width: 20px;
  height: 20px; }

.toggle-button .pill {
  width: 24px;
  height: 20px; }
