.toggle-button {
  display: inline-block;
  margin: 2px;
  width: 35px;
  height: 20px;
  background-color: #e74c3c;
  border-radius: 99px;
  border: 2px solid #bf2718; }
.toggle-button .toggle-circle {
  float: left;
  height: 20px;
  width: 20px;
  background-color: #ffd6d1;
  border-radius: 99px; }
.toggle-button .border {
  height: 16px;
  width: 16px;
  border: 2px solid #ff9285; }

.toggle-button:hover .toggle-circle {
  background-color: #ffedeb; }

.toggled {
  background-color: #bf2718; }
.toggled .toggle-circle {
  float: right; }

.no-border {
  border: 0 none; }

.no-hover:hover .toggle-circle {
  background-color: #ffd6d1; }

.expand-hover:hover .toggle-circle {
  width: 24px; }

.small {
  width: 28px;
  height: 16px; }
.small .toggle-circle {
  width: 16px;
  height: 16px; }

.large {
  width: 42px;
  height: 24px; }
.large .toggle-circle {
  width: 24px;
  height: 24px; }
