.toggle-button {
  background-color: #e74c3c;
  border: 2px solid #bf2718;
  width: 35px;
  height: 20px;
  display: inline-block;
  margin: 2px;
  border-radius: 99px; }
.toggle-button.toggled {
  background-color: #bf2718; }
.toggle-button.no-bg-toggle {
  background-color: #e74c3c; }
.toggle-button.bg-hover:hover {
  background-color: #ea6153; }
.toggle-button .toggle-circle.pill {
  width: 24px;
  height: 20px; }
.toggle-button .toggle-circle {
  background-color: white;
  width: 20px;
  height: 20px;
  float: left;
  border-radius: 99px; }
.toggle-button .border {
  width: 16px;
  height: 16px;
  border: 2px solid #bfbfbf; }
.toggle-button:hover .toggle-circle {
  background-color: rgba(255, 255, 255, 0.8); }

.toggled .toggle-circle {
  float: right; }

.red {
  background-color: #e74c3c;
  border: 2px solid #bf2718; }
.red.toggled {
  background-color: #bf2718; }
.red.no-bg-toggle {
  background-color: #e74c3c; }
.red.bg-hover:hover {
  background-color: #ea6153; }

.blue {
  background-color: #3498db;
  border: 2px solid #1d6fa5; }
.blue.toggled {
  background-color: #1d6fa5; }
.blue.no-bg-toggle {
  background-color: #3498db; }
.blue.bg-hover:hover {
  background-color: #4aa3df; }

.green {
  background-color: #27ae60;
  border: 2px solid #19703e; }
.green.toggled {
  background-color: #19703e; }
.green.no-bg-toggle {
  background-color: #27ae60; }
.green.bg-hover:hover {
  background-color: #2cc36b; }

.grey {
  background-color: #7f8c8d;
  border: 2px solid #5a6465; }
.grey.toggled {
  background-color: #5a6465; }
.grey.no-bg-toggle {
  background-color: #7f8c8d; }
.grey.bg-hover:hover {
  background-color: #8c9899; }

.orange {
  background-color: #e67e22;
  border: 2px solid #a85913; }
.orange.toggled {
  background-color: #a85913; }
.orange.no-bg-toggle {
  background-color: #e67e22; }
.orange.bg-hover:hover {
  background-color: #e98b39; }

.purple {
  background-color: #8e44ad;
  border: 2px solid #612e76; }
.purple.toggled {
  background-color: #612e76; }
.purple.no-bg-toggle {
  background-color: #8e44ad; }
.purple.bg-hover:hover {
  background-color: #9b50ba; }

.yellow {
  background-color: #f1c40f;
  border: 2px solid #aa8a0a; }
.yellow.toggled {
  background-color: #aa8a0a; }
.yellow.no-bg-toggle {
  background-color: #f1c40f; }
.yellow.bg-hover:hover {
  background-color: #f2ca27; }

.no-border {
  border: 0 none; }

.no-hover:hover .toggle-circle {
  background-color: white; }

.expand-hover:hover .toggle-circle {
  width: 24px;
  height: 20px; }

.tiny {
  width: 24.5px;
  height: 14px; }
.tiny .toggle-circle.pill {
  width: 16.8px;
  height: 14px; }
.tiny .toggle-circle {
  width: 14px;
  height: 14px; }

.small {
  width: 29.75px;
  height: 17px; }
.small .toggle-circle.pill {
  width: 20.4px;
  height: 17px; }
.small .toggle-circle {
  width: 17px;
  height: 17px; }

.large {
  width: 42px;
  height: 24px; }
.large .toggle-circle.pill {
  width: 28.8px;
  height: 24px; }
.large .toggle-circle {
  width: 24px;
  height: 24px; }

.tall {
  width: 35px;
  height: 24px; }
.tall .toggle-circle.pill {
  width: 24px;
  height: 24px; }
.tall .toggle-circle {
  width: 24px;
  height: 24px; }

.long {
  width: 42px;
  height: 20px; }
.long .toggle-circle.pill {
  width: 28.8px;
  height: 20px; }
.long .toggle-circle {
  width: 20px;
  height: 20px; }
