body {
	margin: 0;
	padding: 0;
	background-color: #eee;
}

nav{
	/*background-color: #fff;*/
	text-align: center;
}

nav ul{
	list-style-type: none;
	padding-bottom: 10px;
}

nav ul li{
	display: inline-block;
	margin: 0 20px
}

#main{
	width: 800;
	margin: auto;
	text-align: center;
}
.row{
	display: inline-block;
	width: 100%;
}

.row p{
	color: #222;
	text-align: center;
}

.row .info{
	text-align: left;
}

.col{
	display: inline-block;
	width: 120px;
	margin: 10px 70px;
}
