@import "settings";
@import "foundation";


.big-header{
  background-color: white;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.big-header h1{
  font-size: 100px;
  padding-top: 50px;
  margin: 70px 0;
}

.big-header h3{
  margin-bottom: 50px;
}

.main-content h4{
  margin-top: 40px;
}

.no-style-list{
  list-style: none;
}

li {
  margin: 15px 0;
}

.code-container{
  overflow-x: auto;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 5px;
}

.code-container pre{
  background-color: #fff;
}

pre{
  font-size: 14px;
  background-color: #eee;
  border-radius: 5px;
  display: inline-block;
  padding: 4px 8px;
  margin-bottom: 5px;
}

pre.light-bg{
  background-color: #fff;
}

footer{
  color: #aaa;
  font-size: 14px;
  margin-bottom: 20px;
}

.muted{
  color: #aaa;
}

h5{
  margin-top: 25px;
  margin-bottom: -10px;
}

.tggl{
}

.panel.no-bg{
  background-color: #fff;
}