@import "settings";
@import "foundation";


.big-header{
  background-color: white;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.big-header h1{
  font-size: 100px;
  padding-top: 50px;
  margin: 70px 0;
}

.big-header h3{
  margin-bottom: 50px;
}

.main-content h4{
  margin-top: 40px;
}

.no-style-list{
  list-style: none;
}

li {
  margin: 15px 0;
}

pre{
  background-color: #eee;
  border-radius: 5px;
  display: inline-block;
  padding: 2px 5px;
}