body {
	margin: 0;
	padding: 0;
	background-color: #c0392b;
}

nav{
	/*background-color: #fff;*/
	text-align: center;
}

nav ul{
	list-style-type: none;
	padding-bottom: 10px;
}

nav ul li{
	display: inline-block;
	margin: 0 20px
}
.row{
	width: 100%;
}

.row p{
	color: #ddd;
	text-align: center;
}

.col{
	text-align: center;
	display: inline-block;
	width: 49%;
	margin-bottom: 15px;
}
