/* line 77, ../scss/tggl.sass */
.toggle-button {
  background-color: #e74c3c;
  border: 2px solid #bf2718;
  width: 35px;
  height: 20px;
  display: inline-block;
  margin: 2px;
  border-radius: 99px;
  webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 68, ../scss/tggl.sass */
.toggle-button.toggled {
  background-color: #bf2718;
}
/* line 71, ../scss/tggl.sass */
.toggle-button.no-bg-toggle {
  background-color: #e74c3c;
}
/* line 74, ../scss/tggl.sass */
.toggle-button.bg-hover:hover {
  background-color: #ea6153;
}
/* line 23, ../scss/tggl.sass */
.toggle-button .toggle-circle.pill {
  width: 24px;
  height: 20px;
}
/* line 59, ../scss/tggl.sass */
.toggle-button .toggle-circle.pill.border {
  width: 20px;
  height: 16px;
  border: 2px solid #bfbfbf;
}
/* line 26, ../scss/tggl.sass */
.toggle-button.expand-hover:hover .toggle-circle {
  width: 24px;
  height: 20px;
}
/* line 59, ../scss/tggl.sass */
.toggle-button.expand-hover:hover .toggle-circle.border {
  width: 20px;
  height: 16px;
  border: 2px solid #bfbfbf;
}
/* line 29, ../scss/tggl.sass */
.toggle-button.tall {
  width: 35px;
  height: 24px;
}
/* line 33, ../scss/tggl.sass */
.toggle-button.tall .toggle-circle {
  width: 24px;
  height: 24px;
}
/* line 59, ../scss/tggl.sass */
.toggle-button.tall .toggle-circle.border {
  width: 20px;
  height: 20px;
  border: 2px solid #bfbfbf;
}
/* line 36, ../scss/tggl.sass */
.toggle-button.tall .toggle-circle.pill {
  width: 29px;
  height: 24px;
}
/* line 59, ../scss/tggl.sass */
.toggle-button.tall .toggle-circle.pill.border {
  width: 25px;
  height: 20px;
  border: 2px solid #bfbfbf;
}
/* line 39, ../scss/tggl.sass */
.toggle-button.tall.expand-hover:hover .toggle-circle {
  width: 29px;
  height: 24px;
}
/* line 59, ../scss/tggl.sass */
.toggle-button.tall.expand-hover:hover .toggle-circle.border {
  width: 25px;
  height: 20px;
  border: 2px solid #bfbfbf;
}
/* line 42, ../scss/tggl.sass */
.toggle-button.long {
  width: 42px;
  height: 20px;
}
/* line 46, ../scss/tggl.sass */
.toggle-button.long .toggle-circle {
  width: 20px;
  height: 20px;
}
/* line 59, ../scss/tggl.sass */
.toggle-button.long .toggle-circle.border {
  width: 16px;
  height: 16px;
  border: 2px solid #bfbfbf;
}
/* line 49, ../scss/tggl.sass */
.toggle-button.long .toggle-circle.pill {
  width: 29px;
  height: 20px;
}
/* line 59, ../scss/tggl.sass */
.toggle-button.long .toggle-circle.pill.border {
  width: 25px;
  height: 16px;
  border: 2px solid #bfbfbf;
}
/* line 52, ../scss/tggl.sass */
.toggle-button.long.expand-hover:hover .toggle-circle {
  width: 29px;
  height: 20px;
}
/* line 59, ../scss/tggl.sass */
.toggle-button.long.expand-hover:hover .toggle-circle.border {
  width: 25px;
  height: 16px;
  border: 2px solid #bfbfbf;
}
/* line 86, ../scss/tggl.sass */
.toggle-button .toggle-circle {
  background-color: white;
  width: 20px;
  height: 20px;
  float: left;
  border-radius: 99px;
}
/* line 59, ../scss/tggl.sass */
.toggle-button .toggle-circle.border {
  width: 16px;
  height: 16px;
  border: 2px solid #bfbfbf;
}
/* line 92, ../scss/tggl.sass */
.toggle-button:hover .toggle-circle {
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 96, ../scss/tggl.sass */
.toggled .toggle-circle {
  float: right;
}

/* line 99, ../scss/tggl.sass */
.red {
  background-color: #e74c3c;
  border: 2px solid #bf2718;
}
/* line 68, ../scss/tggl.sass */
.red.toggled {
  background-color: #bf2718;
}
/* line 71, ../scss/tggl.sass */
.red.no-bg-toggle {
  background-color: #e74c3c;
}
/* line 74, ../scss/tggl.sass */
.red.bg-hover:hover {
  background-color: #ea6153;
}

/* line 102, ../scss/tggl.sass */
.blue {
  background-color: #3498db;
  border: 2px solid #1d6fa5;
}
/* line 68, ../scss/tggl.sass */
.blue.toggled {
  background-color: #1d6fa5;
}
/* line 71, ../scss/tggl.sass */
.blue.no-bg-toggle {
  background-color: #3498db;
}
/* line 74, ../scss/tggl.sass */
.blue.bg-hover:hover {
  background-color: #4aa3df;
}

/* line 105, ../scss/tggl.sass */
.green {
  background-color: #27ae60;
  border: 2px solid #19703e;
}
/* line 68, ../scss/tggl.sass */
.green.toggled {
  background-color: #19703e;
}
/* line 71, ../scss/tggl.sass */
.green.no-bg-toggle {
  background-color: #27ae60;
}
/* line 74, ../scss/tggl.sass */
.green.bg-hover:hover {
  background-color: #2cc36b;
}

/* line 108, ../scss/tggl.sass */
.grey {
  background-color: #7f8c8d;
  border: 2px solid #5a6465;
}
/* line 68, ../scss/tggl.sass */
.grey.toggled {
  background-color: #5a6465;
}
/* line 71, ../scss/tggl.sass */
.grey.no-bg-toggle {
  background-color: #7f8c8d;
}
/* line 74, ../scss/tggl.sass */
.grey.bg-hover:hover {
  background-color: #8c9899;
}

/* line 111, ../scss/tggl.sass */
.orange {
  background-color: #e67e22;
  border: 2px solid #a85913;
}
/* line 68, ../scss/tggl.sass */
.orange.toggled {
  background-color: #a85913;
}
/* line 71, ../scss/tggl.sass */
.orange.no-bg-toggle {
  background-color: #e67e22;
}
/* line 74, ../scss/tggl.sass */
.orange.bg-hover:hover {
  background-color: #e98b39;
}

/* line 114, ../scss/tggl.sass */
.purple {
  background-color: #8e44ad;
  border: 2px solid #612e76;
}
/* line 68, ../scss/tggl.sass */
.purple.toggled {
  background-color: #612e76;
}
/* line 71, ../scss/tggl.sass */
.purple.no-bg-toggle {
  background-color: #8e44ad;
}
/* line 74, ../scss/tggl.sass */
.purple.bg-hover:hover {
  background-color: #9b50ba;
}

/* line 117, ../scss/tggl.sass */
.yellow {
  background-color: #f1c40f;
  border: 2px solid #aa8a0a;
}
/* line 68, ../scss/tggl.sass */
.yellow.toggled {
  background-color: #aa8a0a;
}
/* line 71, ../scss/tggl.sass */
.yellow.no-bg-toggle {
  background-color: #f1c40f;
}
/* line 74, ../scss/tggl.sass */
.yellow.bg-hover:hover {
  background-color: #f2ca27;
}

/* line 120, ../scss/tggl.sass */
.no-border {
  border: 0 none;
}

/* line 123, ../scss/tggl.sass */
.no-hover:hover .toggle-circle {
  background-color: white;
}

/* line 126, ../scss/tggl.sass */
.tiny {
  width: 24.5px;
  height: 14px;
}
/* line 23, ../scss/tggl.sass */
.tiny .toggle-circle.pill {
  width: 16.8px;
  height: 14px;
}
/* line 59, ../scss/tggl.sass */
.tiny .toggle-circle.pill.border {
  width: 12.8px;
  height: 10px;
  border: 2px solid #bfbfbf;
}
/* line 26, ../scss/tggl.sass */
.tiny.expand-hover:hover .toggle-circle {
  width: 16.8px;
  height: 14px;
}
/* line 59, ../scss/tggl.sass */
.tiny.expand-hover:hover .toggle-circle.border {
  width: 12.8px;
  height: 10px;
  border: 2px solid #bfbfbf;
}
/* line 29, ../scss/tggl.sass */
.tiny.tall {
  width: 24.5px;
  height: 16.8px;
}
/* line 33, ../scss/tggl.sass */
.tiny.tall .toggle-circle {
  width: 16.8px;
  height: 16.8px;
}
/* line 59, ../scss/tggl.sass */
.tiny.tall .toggle-circle.border {
  width: 12.8px;
  height: 12.8px;
  border: 2px solid #bfbfbf;
}
/* line 36, ../scss/tggl.sass */
.tiny.tall .toggle-circle.pill {
  width: 20.3px;
  height: 16.8px;
}
/* line 59, ../scss/tggl.sass */
.tiny.tall .toggle-circle.pill.border {
  width: 16.3px;
  height: 12.8px;
  border: 2px solid #bfbfbf;
}
/* line 39, ../scss/tggl.sass */
.tiny.tall.expand-hover:hover .toggle-circle {
  width: 20.3px;
  height: 16.8px;
}
/* line 59, ../scss/tggl.sass */
.tiny.tall.expand-hover:hover .toggle-circle.border {
  width: 16.3px;
  height: 12.8px;
  border: 2px solid #bfbfbf;
}
/* line 42, ../scss/tggl.sass */
.tiny.long {
  width: 29.4px;
  height: 14px;
}
/* line 46, ../scss/tggl.sass */
.tiny.long .toggle-circle {
  width: 14px;
  height: 14px;
}
/* line 59, ../scss/tggl.sass */
.tiny.long .toggle-circle.border {
  width: 10px;
  height: 10px;
  border: 2px solid #bfbfbf;
}
/* line 49, ../scss/tggl.sass */
.tiny.long .toggle-circle.pill {
  width: 20.3px;
  height: 14px;
}
/* line 59, ../scss/tggl.sass */
.tiny.long .toggle-circle.pill.border {
  width: 16.3px;
  height: 10px;
  border: 2px solid #bfbfbf;
}
/* line 52, ../scss/tggl.sass */
.tiny.long.expand-hover:hover .toggle-circle {
  width: 20.3px;
  height: 14px;
}
/* line 59, ../scss/tggl.sass */
.tiny.long.expand-hover:hover .toggle-circle.border {
  width: 16.3px;
  height: 10px;
  border: 2px solid #bfbfbf;
}
/* line 128, ../scss/tggl.sass */
.tiny .toggle-circle {
  width: 14px;
  height: 14px;
}
/* line 59, ../scss/tggl.sass */
.tiny .toggle-circle.border {
  width: 10px;
  height: 10px;
  border: 2px solid #bfbfbf;
}

/* line 131, ../scss/tggl.sass */
.small {
  width: 29.75px;
  height: 17px;
}
/* line 23, ../scss/tggl.sass */
.small .toggle-circle.pill {
  width: 20.4px;
  height: 17px;
}
/* line 59, ../scss/tggl.sass */
.small .toggle-circle.pill.border {
  width: 16.4px;
  height: 13px;
  border: 2px solid #bfbfbf;
}
/* line 26, ../scss/tggl.sass */
.small.expand-hover:hover .toggle-circle {
  width: 20.4px;
  height: 17px;
}
/* line 59, ../scss/tggl.sass */
.small.expand-hover:hover .toggle-circle.border {
  width: 16.4px;
  height: 13px;
  border: 2px solid #bfbfbf;
}
/* line 29, ../scss/tggl.sass */
.small.tall {
  width: 29.75px;
  height: 20.4px;
}
/* line 33, ../scss/tggl.sass */
.small.tall .toggle-circle {
  width: 20.4px;
  height: 20.4px;
}
/* line 59, ../scss/tggl.sass */
.small.tall .toggle-circle.border {
  width: 16.4px;
  height: 16.4px;
  border: 2px solid #bfbfbf;
}
/* line 36, ../scss/tggl.sass */
.small.tall .toggle-circle.pill {
  width: 24.65px;
  height: 20.4px;
}
/* line 59, ../scss/tggl.sass */
.small.tall .toggle-circle.pill.border {
  width: 20.65px;
  height: 16.4px;
  border: 2px solid #bfbfbf;
}
/* line 39, ../scss/tggl.sass */
.small.tall.expand-hover:hover .toggle-circle {
  width: 24.65px;
  height: 20.4px;
}
/* line 59, ../scss/tggl.sass */
.small.tall.expand-hover:hover .toggle-circle.border {
  width: 20.65px;
  height: 16.4px;
  border: 2px solid #bfbfbf;
}
/* line 42, ../scss/tggl.sass */
.small.long {
  width: 35.7px;
  height: 17px;
}
/* line 46, ../scss/tggl.sass */
.small.long .toggle-circle {
  width: 17px;
  height: 17px;
}
/* line 59, ../scss/tggl.sass */
.small.long .toggle-circle.border {
  width: 13px;
  height: 13px;
  border: 2px solid #bfbfbf;
}
/* line 49, ../scss/tggl.sass */
.small.long .toggle-circle.pill {
  width: 24.65px;
  height: 17px;
}
/* line 59, ../scss/tggl.sass */
.small.long .toggle-circle.pill.border {
  width: 20.65px;
  height: 13px;
  border: 2px solid #bfbfbf;
}
/* line 52, ../scss/tggl.sass */
.small.long.expand-hover:hover .toggle-circle {
  width: 24.65px;
  height: 17px;
}
/* line 59, ../scss/tggl.sass */
.small.long.expand-hover:hover .toggle-circle.border {
  width: 20.65px;
  height: 13px;
  border: 2px solid #bfbfbf;
}
/* line 133, ../scss/tggl.sass */
.small .toggle-circle {
  width: 17px;
  height: 17px;
}
/* line 59, ../scss/tggl.sass */
.small .toggle-circle.border {
  width: 13px;
  height: 13px;
  border: 2px solid #bfbfbf;
}

/* line 136, ../scss/tggl.sass */
.large {
  width: 42px;
  height: 24px;
}
/* line 23, ../scss/tggl.sass */
.large .toggle-circle.pill {
  width: 28.8px;
  height: 24px;
}
/* line 59, ../scss/tggl.sass */
.large .toggle-circle.pill.border {
  width: 24.8px;
  height: 20px;
  border: 2px solid #bfbfbf;
}
/* line 26, ../scss/tggl.sass */
.large.expand-hover:hover .toggle-circle {
  width: 28.8px;
  height: 24px;
}
/* line 59, ../scss/tggl.sass */
.large.expand-hover:hover .toggle-circle.border {
  width: 24.8px;
  height: 20px;
  border: 2px solid #bfbfbf;
}
/* line 29, ../scss/tggl.sass */
.large.tall {
  width: 42px;
  height: 28.8px;
}
/* line 33, ../scss/tggl.sass */
.large.tall .toggle-circle {
  width: 28.8px;
  height: 28.8px;
}
/* line 59, ../scss/tggl.sass */
.large.tall .toggle-circle.border {
  width: 24.8px;
  height: 24.8px;
  border: 2px solid #bfbfbf;
}
/* line 36, ../scss/tggl.sass */
.large.tall .toggle-circle.pill {
  width: 34.8px;
  height: 28.8px;
}
/* line 59, ../scss/tggl.sass */
.large.tall .toggle-circle.pill.border {
  width: 30.8px;
  height: 24.8px;
  border: 2px solid #bfbfbf;
}
/* line 39, ../scss/tggl.sass */
.large.tall.expand-hover:hover .toggle-circle {
  width: 34.8px;
  height: 28.8px;
}
/* line 59, ../scss/tggl.sass */
.large.tall.expand-hover:hover .toggle-circle.border {
  width: 30.8px;
  height: 24.8px;
  border: 2px solid #bfbfbf;
}
/* line 42, ../scss/tggl.sass */
.large.long {
  width: 50.4px;
  height: 24px;
}
/* line 46, ../scss/tggl.sass */
.large.long .toggle-circle {
  width: 24px;
  height: 24px;
}
/* line 59, ../scss/tggl.sass */
.large.long .toggle-circle.border {
  width: 20px;
  height: 20px;
  border: 2px solid #bfbfbf;
}
/* line 49, ../scss/tggl.sass */
.large.long .toggle-circle.pill {
  width: 34.8px;
  height: 24px;
}
/* line 59, ../scss/tggl.sass */
.large.long .toggle-circle.pill.border {
  width: 30.8px;
  height: 20px;
  border: 2px solid #bfbfbf;
}
/* line 52, ../scss/tggl.sass */
.large.long.expand-hover:hover .toggle-circle {
  width: 34.8px;
  height: 24px;
}
/* line 59, ../scss/tggl.sass */
.large.long.expand-hover:hover .toggle-circle.border {
  width: 30.8px;
  height: 20px;
  border: 2px solid #bfbfbf;
}
/* line 138, ../scss/tggl.sass */
.large .toggle-circle {
  width: 24px;
  height: 24px;
}
/* line 59, ../scss/tggl.sass */
.large .toggle-circle.border {
  width: 20px;
  height: 20px;
  border: 2px solid #bfbfbf;
}

/* line 141, ../scss/tggl.sass */
.huge {
  width: 50.75px;
  height: 29px;
}
/* line 23, ../scss/tggl.sass */
.huge .toggle-circle.pill {
  width: 34.8px;
  height: 29px;
}
/* line 59, ../scss/tggl.sass */
.huge .toggle-circle.pill.border {
  width: 30.8px;
  height: 25px;
  border: 2px solid #bfbfbf;
}
/* line 26, ../scss/tggl.sass */
.huge.expand-hover:hover .toggle-circle {
  width: 34.8px;
  height: 29px;
}
/* line 59, ../scss/tggl.sass */
.huge.expand-hover:hover .toggle-circle.border {
  width: 30.8px;
  height: 25px;
  border: 2px solid #bfbfbf;
}
/* line 29, ../scss/tggl.sass */
.huge.tall {
  width: 50.75px;
  height: 34.8px;
}
/* line 33, ../scss/tggl.sass */
.huge.tall .toggle-circle {
  width: 34.8px;
  height: 34.8px;
}
/* line 59, ../scss/tggl.sass */
.huge.tall .toggle-circle.border {
  width: 30.8px;
  height: 30.8px;
  border: 2px solid #bfbfbf;
}
/* line 36, ../scss/tggl.sass */
.huge.tall .toggle-circle.pill {
  width: 42.05px;
  height: 34.8px;
}
/* line 59, ../scss/tggl.sass */
.huge.tall .toggle-circle.pill.border {
  width: 38.05px;
  height: 30.8px;
  border: 2px solid #bfbfbf;
}
/* line 39, ../scss/tggl.sass */
.huge.tall.expand-hover:hover .toggle-circle {
  width: 42.05px;
  height: 34.8px;
}
/* line 59, ../scss/tggl.sass */
.huge.tall.expand-hover:hover .toggle-circle.border {
  width: 38.05px;
  height: 30.8px;
  border: 2px solid #bfbfbf;
}
/* line 42, ../scss/tggl.sass */
.huge.long {
  width: 60.9px;
  height: 29px;
}
/* line 46, ../scss/tggl.sass */
.huge.long .toggle-circle {
  width: 29px;
  height: 29px;
}
/* line 59, ../scss/tggl.sass */
.huge.long .toggle-circle.border {
  width: 25px;
  height: 25px;
  border: 2px solid #bfbfbf;
}
/* line 49, ../scss/tggl.sass */
.huge.long .toggle-circle.pill {
  width: 42.05px;
  height: 29px;
}
/* line 59, ../scss/tggl.sass */
.huge.long .toggle-circle.pill.border {
  width: 38.05px;
  height: 25px;
  border: 2px solid #bfbfbf;
}
/* line 52, ../scss/tggl.sass */
.huge.long.expand-hover:hover .toggle-circle {
  width: 42.05px;
  height: 29px;
}
/* line 59, ../scss/tggl.sass */
.huge.long.expand-hover:hover .toggle-circle.border {
  width: 38.05px;
  height: 25px;
  border: 2px solid #bfbfbf;
}
/* line 143, ../scss/tggl.sass */
.huge .toggle-circle {
  width: 29px;
  height: 29px;
}
/* line 59, ../scss/tggl.sass */
.huge .toggle-circle.border {
  width: 25px;
  height: 25px;
  border: 2px solid #bfbfbf;
}
