/* line 77, ../scss/tggl.sass */
.tggl-button {
  background-color: #e74c3c;
  border: 2px solid #bf2718;
  width: 35px;
  height: 20px;
  display: inline-block;
  margin: 2px;
  border-radius: 99px;
  webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 68, ../scss/tggl.sass */
.tggl-button.tggl-toggled {
  background-color: #bf2718;
}
/* line 71, ../scss/tggl.sass */
.tggl-button.tggl-no-bg-toggle {
  background-color: #e74c3c;
}
/* line 74, ../scss/tggl.sass */
.tggl-button.tggl-bg-hover:hover {
  background-color: #ea6153;
}
/* line 23, ../scss/tggl.sass */
.tggl-button .tggl-circle.tggl-pill {
  width: 24px;
  height: 20px;
}
/* line 59, ../scss/tggl.sass */
.tggl-button .tggl-circle.tggl-pill.tggl-border {
  width: 20px;
  height: 16px;
  border: 2px solid #bfbfbf;
}
/* line 26, ../scss/tggl.sass */
.tggl-button.tggl-expand-hover:hover .tggl-circle {
  width: 24px;
  height: 20px;
}
/* line 59, ../scss/tggl.sass */
.tggl-button.tggl-expand-hover:hover .tggl-circle.tggl-border {
  width: 20px;
  height: 16px;
  border: 2px solid #bfbfbf;
}
/* line 29, ../scss/tggl.sass */
.tggl-button.tggl-tall {
  width: 35px;
  height: 24px;
}
/* line 33, ../scss/tggl.sass */
.tggl-button.tggl-tall .tggl-circle {
  width: 24px;
  height: 24px;
}
/* line 59, ../scss/tggl.sass */
.tggl-button.tggl-tall .tggl-circle.tggl-border {
  width: 20px;
  height: 20px;
  border: 2px solid #bfbfbf;
}
/* line 36, ../scss/tggl.sass */
.tggl-button.tggl-tall .tggl-circle.tggl-pill {
  width: 29px;
  height: 24px;
}
/* line 59, ../scss/tggl.sass */
.tggl-button.tggl-tall .tggl-circle.tggl-pill.tggl-border {
  width: 25px;
  height: 20px;
  border: 2px solid #bfbfbf;
}
/* line 39, ../scss/tggl.sass */
.tggl-button.tggl-tall.tggl-expand-hover:hover .tggl-circle {
  width: 29px;
  height: 24px;
}
/* line 59, ../scss/tggl.sass */
.tggl-button.tggl-tall.tggl-expand-hover:hover .tggl-circle.tggl-border {
  width: 25px;
  height: 20px;
  border: 2px solid #bfbfbf;
}
/* line 42, ../scss/tggl.sass */
.tggl-button.tggl-long {
  width: 42px;
  height: 20px;
}
/* line 46, ../scss/tggl.sass */
.tggl-button.tggl-long .tggl-circle {
  width: 20px;
  height: 20px;
}
/* line 59, ../scss/tggl.sass */
.tggl-button.tggl-long .tggl-circle.tggl-border {
  width: 16px;
  height: 16px;
  border: 2px solid #bfbfbf;
}
/* line 49, ../scss/tggl.sass */
.tggl-button.tggl-long .tggl-circle.tggl-pill {
  width: 29px;
  height: 20px;
}
/* line 59, ../scss/tggl.sass */
.tggl-button.tggl-long .tggl-circle.tggl-pill.tggl-border {
  width: 25px;
  height: 16px;
  border: 2px solid #bfbfbf;
}
/* line 52, ../scss/tggl.sass */
.tggl-button.tggl-long.tggl-expand-hover:hover .tggl-circle {
  width: 29px;
  height: 20px;
}
/* line 59, ../scss/tggl.sass */
.tggl-button.tggl-long.tggl-expand-hover:hover .tggl-circle.tggl-border {
  width: 25px;
  height: 16px;
  border: 2px solid #bfbfbf;
}
/* line 86, ../scss/tggl.sass */
.tggl-button .tggl-circle {
  background-color: white;
  width: 20px;
  height: 20px;
  float: left;
  border-radius: 99px;
}
/* line 59, ../scss/tggl.sass */
.tggl-button .tggl-circle.tggl-border {
  width: 16px;
  height: 16px;
  border: 2px solid #bfbfbf;
}
/* line 92, ../scss/tggl.sass */
.tggl-button:hover .tggl-circle {
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 96, ../scss/tggl.sass */
.tggl-toggled .tggl-circle {
  float: right;
}

/* line 99, ../scss/tggl.sass */
.tggl-red {
  background-color: #e74c3c;
  border: 2px solid #bf2718;
}
/* line 68, ../scss/tggl.sass */
.tggl-red.tggl-toggled {
  background-color: #bf2718;
}
/* line 71, ../scss/tggl.sass */
.tggl-red.tggl-no-bg-toggle {
  background-color: #e74c3c;
}
/* line 74, ../scss/tggl.sass */
.tggl-red.tggl-bg-hover:hover {
  background-color: #ea6153;
}

/* line 102, ../scss/tggl.sass */
.tggl-blue {
  background-color: #3498db;
  border: 2px solid #1d6fa5;
}
/* line 68, ../scss/tggl.sass */
.tggl-blue.tggl-toggled {
  background-color: #1d6fa5;
}
/* line 71, ../scss/tggl.sass */
.tggl-blue.tggl-no-bg-toggle {
  background-color: #3498db;
}
/* line 74, ../scss/tggl.sass */
.tggl-blue.tggl-bg-hover:hover {
  background-color: #4aa3df;
}

/* line 105, ../scss/tggl.sass */
.tggl-green {
  background-color: #27ae60;
  border: 2px solid #19703e;
}
/* line 68, ../scss/tggl.sass */
.tggl-green.tggl-toggled {
  background-color: #19703e;
}
/* line 71, ../scss/tggl.sass */
.tggl-green.tggl-no-bg-toggle {
  background-color: #27ae60;
}
/* line 74, ../scss/tggl.sass */
.tggl-green.tggl-bg-hover:hover {
  background-color: #2cc36b;
}

/* line 108, ../scss/tggl.sass */
.tggl-grey {
  background-color: #7f8c8d;
  border: 2px solid #5a6465;
}
/* line 68, ../scss/tggl.sass */
.tggl-grey.tggl-toggled {
  background-color: #5a6465;
}
/* line 71, ../scss/tggl.sass */
.tggl-grey.tggl-no-bg-toggle {
  background-color: #7f8c8d;
}
/* line 74, ../scss/tggl.sass */
.tggl-grey.tggl-bg-hover:hover {
  background-color: #8c9899;
}

/* line 111, ../scss/tggl.sass */
.tggl-orange {
  background-color: #e67e22;
  border: 2px solid #a85913;
}
/* line 68, ../scss/tggl.sass */
.tggl-orange.tggl-toggled {
  background-color: #a85913;
}
/* line 71, ../scss/tggl.sass */
.tggl-orange.tggl-no-bg-toggle {
  background-color: #e67e22;
}
/* line 74, ../scss/tggl.sass */
.tggl-orange.tggl-bg-hover:hover {
  background-color: #e98b39;
}

/* line 114, ../scss/tggl.sass */
.tggl-purple {
  background-color: #8e44ad;
  border: 2px solid #612e76;
}
/* line 68, ../scss/tggl.sass */
.tggl-purple.tggl-toggled {
  background-color: #612e76;
}
/* line 71, ../scss/tggl.sass */
.tggl-purple.tggl-no-bg-toggle {
  background-color: #8e44ad;
}
/* line 74, ../scss/tggl.sass */
.tggl-purple.tggl-bg-hover:hover {
  background-color: #9b50ba;
}

/* line 117, ../scss/tggl.sass */
.tggl-yellow {
  background-color: #f1c40f;
  border: 2px solid #aa8a0a;
}
/* line 68, ../scss/tggl.sass */
.tggl-yellow.tggl-toggled {
  background-color: #aa8a0a;
}
/* line 71, ../scss/tggl.sass */
.tggl-yellow.tggl-no-bg-toggle {
  background-color: #f1c40f;
}
/* line 74, ../scss/tggl.sass */
.tggl-yellow.tggl-bg-hover:hover {
  background-color: #f2ca27;
}

/* line 120, ../scss/tggl.sass */
.tggl-no-border {
  border: 0 none;
}

/* line 123, ../scss/tggl.sass */
.tggl-no-hover:hover .tggl-circle {
  background-color: white;
}

/* line 126, ../scss/tggl.sass */
.tggl-tiny {
  width: 24.5px;
  height: 14px;
}
/* line 23, ../scss/tggl.sass */
.tggl-tiny .tggl-circle.tggl-pill {
  width: 16.8px;
  height: 14px;
}
/* line 59, ../scss/tggl.sass */
.tggl-tiny .tggl-circle.tggl-pill.tggl-border {
  width: 12.8px;
  height: 10px;
  border: 2px solid #bfbfbf;
}
/* line 26, ../scss/tggl.sass */
.tggl-tiny.tggl-expand-hover:hover .tggl-circle {
  width: 16.8px;
  height: 14px;
}
/* line 59, ../scss/tggl.sass */
.tggl-tiny.tggl-expand-hover:hover .tggl-circle.tggl-border {
  width: 12.8px;
  height: 10px;
  border: 2px solid #bfbfbf;
}
/* line 29, ../scss/tggl.sass */
.tggl-tiny.tggl-tall {
  width: 24.5px;
  height: 16.8px;
}
/* line 33, ../scss/tggl.sass */
.tggl-tiny.tggl-tall .tggl-circle {
  width: 16.8px;
  height: 16.8px;
}
/* line 59, ../scss/tggl.sass */
.tggl-tiny.tggl-tall .tggl-circle.tggl-border {
  width: 12.8px;
  height: 12.8px;
  border: 2px solid #bfbfbf;
}
/* line 36, ../scss/tggl.sass */
.tggl-tiny.tggl-tall .tggl-circle.tggl-pill {
  width: 20.3px;
  height: 16.8px;
}
/* line 59, ../scss/tggl.sass */
.tggl-tiny.tggl-tall .tggl-circle.tggl-pill.tggl-border {
  width: 16.3px;
  height: 12.8px;
  border: 2px solid #bfbfbf;
}
/* line 39, ../scss/tggl.sass */
.tggl-tiny.tggl-tall.tggl-expand-hover:hover .tggl-circle {
  width: 20.3px;
  height: 16.8px;
}
/* line 59, ../scss/tggl.sass */
.tggl-tiny.tggl-tall.tggl-expand-hover:hover .tggl-circle.tggl-border {
  width: 16.3px;
  height: 12.8px;
  border: 2px solid #bfbfbf;
}
/* line 42, ../scss/tggl.sass */
.tggl-tiny.tggl-long {
  width: 29.4px;
  height: 14px;
}
/* line 46, ../scss/tggl.sass */
.tggl-tiny.tggl-long .tggl-circle {
  width: 14px;
  height: 14px;
}
/* line 59, ../scss/tggl.sass */
.tggl-tiny.tggl-long .tggl-circle.tggl-border {
  width: 10px;
  height: 10px;
  border: 2px solid #bfbfbf;
}
/* line 49, ../scss/tggl.sass */
.tggl-tiny.tggl-long .tggl-circle.tggl-pill {
  width: 20.3px;
  height: 14px;
}
/* line 59, ../scss/tggl.sass */
.tggl-tiny.tggl-long .tggl-circle.tggl-pill.tggl-border {
  width: 16.3px;
  height: 10px;
  border: 2px solid #bfbfbf;
}
/* line 52, ../scss/tggl.sass */
.tggl-tiny.tggl-long.tggl-expand-hover:hover .tggl-circle {
  width: 20.3px;
  height: 14px;
}
/* line 59, ../scss/tggl.sass */
.tggl-tiny.tggl-long.tggl-expand-hover:hover .tggl-circle.tggl-border {
  width: 16.3px;
  height: 10px;
  border: 2px solid #bfbfbf;
}
/* line 128, ../scss/tggl.sass */
.tggl-tiny .tggl-circle {
  width: 14px;
  height: 14px;
}
/* line 59, ../scss/tggl.sass */
.tggl-tiny .tggl-circle.tggl-border {
  width: 10px;
  height: 10px;
  border: 2px solid #bfbfbf;
}

/* line 131, ../scss/tggl.sass */
.tggl-small {
  width: 29.75px;
  height: 17px;
}
/* line 23, ../scss/tggl.sass */
.tggl-small .tggl-circle.tggl-pill {
  width: 20.4px;
  height: 17px;
}
/* line 59, ../scss/tggl.sass */
.tggl-small .tggl-circle.tggl-pill.tggl-border {
  width: 16.4px;
  height: 13px;
  border: 2px solid #bfbfbf;
}
/* line 26, ../scss/tggl.sass */
.tggl-small.tggl-expand-hover:hover .tggl-circle {
  width: 20.4px;
  height: 17px;
}
/* line 59, ../scss/tggl.sass */
.tggl-small.tggl-expand-hover:hover .tggl-circle.tggl-border {
  width: 16.4px;
  height: 13px;
  border: 2px solid #bfbfbf;
}
/* line 29, ../scss/tggl.sass */
.tggl-small.tggl-tall {
  width: 29.75px;
  height: 20.4px;
}
/* line 33, ../scss/tggl.sass */
.tggl-small.tggl-tall .tggl-circle {
  width: 20.4px;
  height: 20.4px;
}
/* line 59, ../scss/tggl.sass */
.tggl-small.tggl-tall .tggl-circle.tggl-border {
  width: 16.4px;
  height: 16.4px;
  border: 2px solid #bfbfbf;
}
/* line 36, ../scss/tggl.sass */
.tggl-small.tggl-tall .tggl-circle.tggl-pill {
  width: 24.65px;
  height: 20.4px;
}
/* line 59, ../scss/tggl.sass */
.tggl-small.tggl-tall .tggl-circle.tggl-pill.tggl-border {
  width: 20.65px;
  height: 16.4px;
  border: 2px solid #bfbfbf;
}
/* line 39, ../scss/tggl.sass */
.tggl-small.tggl-tall.tggl-expand-hover:hover .tggl-circle {
  width: 24.65px;
  height: 20.4px;
}
/* line 59, ../scss/tggl.sass */
.tggl-small.tggl-tall.tggl-expand-hover:hover .tggl-circle.tggl-border {
  width: 20.65px;
  height: 16.4px;
  border: 2px solid #bfbfbf;
}
/* line 42, ../scss/tggl.sass */
.tggl-small.tggl-long {
  width: 35.7px;
  height: 17px;
}
/* line 46, ../scss/tggl.sass */
.tggl-small.tggl-long .tggl-circle {
  width: 17px;
  height: 17px;
}
/* line 59, ../scss/tggl.sass */
.tggl-small.tggl-long .tggl-circle.tggl-border {
  width: 13px;
  height: 13px;
  border: 2px solid #bfbfbf;
}
/* line 49, ../scss/tggl.sass */
.tggl-small.tggl-long .tggl-circle.tggl-pill {
  width: 24.65px;
  height: 17px;
}
/* line 59, ../scss/tggl.sass */
.tggl-small.tggl-long .tggl-circle.tggl-pill.tggl-border {
  width: 20.65px;
  height: 13px;
  border: 2px solid #bfbfbf;
}
/* line 52, ../scss/tggl.sass */
.tggl-small.tggl-long.tggl-expand-hover:hover .tggl-circle {
  width: 24.65px;
  height: 17px;
}
/* line 59, ../scss/tggl.sass */
.tggl-small.tggl-long.tggl-expand-hover:hover .tggl-circle.tggl-border {
  width: 20.65px;
  height: 13px;
  border: 2px solid #bfbfbf;
}
/* line 133, ../scss/tggl.sass */
.tggl-small .tggl-circle {
  width: 17px;
  height: 17px;
}
/* line 59, ../scss/tggl.sass */
.tggl-small .tggl-circle.tggl-border {
  width: 13px;
  height: 13px;
  border: 2px solid #bfbfbf;
}

/* line 136, ../scss/tggl.sass */
.tggl-large {
  width: 42px;
  height: 24px;
}
/* line 23, ../scss/tggl.sass */
.tggl-large .tggl-circle.tggl-pill {
  width: 28.8px;
  height: 24px;
}
/* line 59, ../scss/tggl.sass */
.tggl-large .tggl-circle.tggl-pill.tggl-border {
  width: 24.8px;
  height: 20px;
  border: 2px solid #bfbfbf;
}
/* line 26, ../scss/tggl.sass */
.tggl-large.tggl-expand-hover:hover .tggl-circle {
  width: 28.8px;
  height: 24px;
}
/* line 59, ../scss/tggl.sass */
.tggl-large.tggl-expand-hover:hover .tggl-circle.tggl-border {
  width: 24.8px;
  height: 20px;
  border: 2px solid #bfbfbf;
}
/* line 29, ../scss/tggl.sass */
.tggl-large.tggl-tall {
  width: 42px;
  height: 28.8px;
}
/* line 33, ../scss/tggl.sass */
.tggl-large.tggl-tall .tggl-circle {
  width: 28.8px;
  height: 28.8px;
}
/* line 59, ../scss/tggl.sass */
.tggl-large.tggl-tall .tggl-circle.tggl-border {
  width: 24.8px;
  height: 24.8px;
  border: 2px solid #bfbfbf;
}
/* line 36, ../scss/tggl.sass */
.tggl-large.tggl-tall .tggl-circle.tggl-pill {
  width: 34.8px;
  height: 28.8px;
}
/* line 59, ../scss/tggl.sass */
.tggl-large.tggl-tall .tggl-circle.tggl-pill.tggl-border {
  width: 30.8px;
  height: 24.8px;
  border: 2px solid #bfbfbf;
}
/* line 39, ../scss/tggl.sass */
.tggl-large.tggl-tall.tggl-expand-hover:hover .tggl-circle {
  width: 34.8px;
  height: 28.8px;
}
/* line 59, ../scss/tggl.sass */
.tggl-large.tggl-tall.tggl-expand-hover:hover .tggl-circle.tggl-border {
  width: 30.8px;
  height: 24.8px;
  border: 2px solid #bfbfbf;
}
/* line 42, ../scss/tggl.sass */
.tggl-large.tggl-long {
  width: 50.4px;
  height: 24px;
}
/* line 46, ../scss/tggl.sass */
.tggl-large.tggl-long .tggl-circle {
  width: 24px;
  height: 24px;
}
/* line 59, ../scss/tggl.sass */
.tggl-large.tggl-long .tggl-circle.tggl-border {
  width: 20px;
  height: 20px;
  border: 2px solid #bfbfbf;
}
/* line 49, ../scss/tggl.sass */
.tggl-large.tggl-long .tggl-circle.tggl-pill {
  width: 34.8px;
  height: 24px;
}
/* line 59, ../scss/tggl.sass */
.tggl-large.tggl-long .tggl-circle.tggl-pill.tggl-border {
  width: 30.8px;
  height: 20px;
  border: 2px solid #bfbfbf;
}
/* line 52, ../scss/tggl.sass */
.tggl-large.tggl-long.tggl-expand-hover:hover .tggl-circle {
  width: 34.8px;
  height: 24px;
}
/* line 59, ../scss/tggl.sass */
.tggl-large.tggl-long.tggl-expand-hover:hover .tggl-circle.tggl-border {
  width: 30.8px;
  height: 20px;
  border: 2px solid #bfbfbf;
}
/* line 138, ../scss/tggl.sass */
.tggl-large .tggl-circle {
  width: 24px;
  height: 24px;
}
/* line 59, ../scss/tggl.sass */
.tggl-large .tggl-circle.tggl-border {
  width: 20px;
  height: 20px;
  border: 2px solid #bfbfbf;
}

/* line 141, ../scss/tggl.sass */
.tggl-huge {
  width: 50.75px;
  height: 29px;
}
/* line 23, ../scss/tggl.sass */
.tggl-huge .tggl-circle.tggl-pill {
  width: 34.8px;
  height: 29px;
}
/* line 59, ../scss/tggl.sass */
.tggl-huge .tggl-circle.tggl-pill.tggl-border {
  width: 30.8px;
  height: 25px;
  border: 2px solid #bfbfbf;
}
/* line 26, ../scss/tggl.sass */
.tggl-huge.tggl-expand-hover:hover .tggl-circle {
  width: 34.8px;
  height: 29px;
}
/* line 59, ../scss/tggl.sass */
.tggl-huge.tggl-expand-hover:hover .tggl-circle.tggl-border {
  width: 30.8px;
  height: 25px;
  border: 2px solid #bfbfbf;
}
/* line 29, ../scss/tggl.sass */
.tggl-huge.tggl-tall {
  width: 50.75px;
  height: 34.8px;
}
/* line 33, ../scss/tggl.sass */
.tggl-huge.tggl-tall .tggl-circle {
  width: 34.8px;
  height: 34.8px;
}
/* line 59, ../scss/tggl.sass */
.tggl-huge.tggl-tall .tggl-circle.tggl-border {
  width: 30.8px;
  height: 30.8px;
  border: 2px solid #bfbfbf;
}
/* line 36, ../scss/tggl.sass */
.tggl-huge.tggl-tall .tggl-circle.tggl-pill {
  width: 42.05px;
  height: 34.8px;
}
/* line 59, ../scss/tggl.sass */
.tggl-huge.tggl-tall .tggl-circle.tggl-pill.tggl-border {
  width: 38.05px;
  height: 30.8px;
  border: 2px solid #bfbfbf;
}
/* line 39, ../scss/tggl.sass */
.tggl-huge.tggl-tall.tggl-expand-hover:hover .tggl-circle {
  width: 42.05px;
  height: 34.8px;
}
/* line 59, ../scss/tggl.sass */
.tggl-huge.tggl-tall.tggl-expand-hover:hover .tggl-circle.tggl-border {
  width: 38.05px;
  height: 30.8px;
  border: 2px solid #bfbfbf;
}
/* line 42, ../scss/tggl.sass */
.tggl-huge.tggl-long {
  width: 60.9px;
  height: 29px;
}
/* line 46, ../scss/tggl.sass */
.tggl-huge.tggl-long .tggl-circle {
  width: 29px;
  height: 29px;
}
/* line 59, ../scss/tggl.sass */
.tggl-huge.tggl-long .tggl-circle.tggl-border {
  width: 25px;
  height: 25px;
  border: 2px solid #bfbfbf;
}
/* line 49, ../scss/tggl.sass */
.tggl-huge.tggl-long .tggl-circle.tggl-pill {
  width: 42.05px;
  height: 29px;
}
/* line 59, ../scss/tggl.sass */
.tggl-huge.tggl-long .tggl-circle.tggl-pill.tggl-border {
  width: 38.05px;
  height: 25px;
  border: 2px solid #bfbfbf;
}
/* line 52, ../scss/tggl.sass */
.tggl-huge.tggl-long.tggl-expand-hover:hover .tggl-circle {
  width: 42.05px;
  height: 29px;
}
/* line 59, ../scss/tggl.sass */
.tggl-huge.tggl-long.tggl-expand-hover:hover .tggl-circle.tggl-border {
  width: 38.05px;
  height: 25px;
  border: 2px solid #bfbfbf;
}
/* line 143, ../scss/tggl.sass */
.tggl-huge .tggl-circle {
  width: 29px;
  height: 29px;
}
/* line 59, ../scss/tggl.sass */
.tggl-huge .tggl-circle.tggl-border {
  width: 25px;
  height: 25px;
  border: 2px solid #bfbfbf;
}
